// Colors
$color-primary: #ff5252;
$grey50:  #edeff2;
$grey100: #d3d6db;
$grey200: #bbbfc4;
$grey500: #7e848c;
$grey800: #474a4f;
$grey900: #36383b;

$link-color: $grey800;


// Fonts
$ff-1: 'Raleway', sans-serif;
$ff-2: 'Montserrat', sans-serif;

$ff-1-small: 1.5rem;
$ff-1-medium: 1.9rem;
$ff-1-large: 2.1rem;

$ff-2-small: 1.3rem;
$ff-2-medium: 1.8rem;
$ff-2-large: 3.2rem;
$ff-2-xlarge: 6rem;

// Generic
$radius: 2px;